a {
  
  color: black !important;
}
a:hover{
  text-decoration: none !important;
}
.card-img-top img{
  min-height:'400px' !important;
  /* width:"300px" !important; */
  
}
.img-fluid{
  height: 180px !important;
}
.searchText {
  font-size: 25px;
  margin-top: 5px;
}