@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  /* background-color: black !important; */
  /* background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(79,214,197,1) 71%); */
  /* color: white !important;  */
}
a {
  
  color: black !important;
}
p{
  margin:0 !important;
}
a:hover{
  text-decoration: none !important;
}
.card-img-top img{
  min-height:'400px' !important;
  /* width:"300px" !important; */
  
}
.img-fluid{
  height: 180px !important;
  padding: 10px;
  object-fit: contain;
}
.searchText {
  font-size: 25px;
  margin-top: 5px;
}
.productCards {
  font-family: "Lato", sans-serif;
  border: none !important;
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
}
.productCards .card-text p:first-of-type{
  font-size: 24px;
}
.productCards .card-text p:nth-of-type(2){
  font-size: 16px;
}
.home .stars-outer{
  position: relative;
  width: 88px !important;
  display: flex;
}
.home .stars{
  display: flex;
}
.home .starsFilled{
  display: inline-block;
  color: #f8ce0b;
  display: flex;
  position: absolute;
  top: 0px !important;
  width: 0%;
  overflow: hidden;
}
.home .stars p{
  font-size: 18px !important;
  padding: 0;
  margin: 0;
}
.home .starsFilled p {

  font-size: 18px !important;
  padding: 0;
  margin: 0;
  z-index: 10;
}
.home .reviewsCount {
  font-size: 12px !important;
  padding-top: 7px;
}
.details{
  margin: 30px auto;
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
  height: 400px;
  font-family: "Lato",sans-serif;
  color: black;
  background-color: white !important;
}
.details .col-1{
  padding: 0;
  margin: 0;
}
.details .dropdown{
  /* color: #f8ce0b; */
  float: right;
  margin: 7px;
}
.dropdown{
  width: 20px !important;
}
.dropdown-toggle::after {
  /* content: '' !important; */
  border: none !important;

}
.details .btn-primary {
  color: black !important;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  padding: 0 !important;
}
.dropdown-item{
  font-size: 12px;
  padding: 4px 16px !important;
}
.details .dropdown-menu {
  min-width: 50px !important;
  text-align: center !important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  margin: 0px !important;
  right: auto !important;
  bottom: auto !important;
  transform: translate(-87px, 18px) !important;

}
.details .editIcon:hover{
  cursor: pointer;
}
.details img{
  min-height: 320px;
  margin: 40px 0;
}
.details .info{
  margin-top: 40px;
}
.details .info p:first-of-type{
  font-size: 30px;
}
.details .info > p:nth-of-type(2){
  font-size: 15px;
  color: grey;
}
.details .info > p:nth-of-type(3){
  font-size: 13px;
  margin-top: 20px !important;
}
.details .stars-outer{
  position: relative;
  width: 70px !important;
  display: flex;
  flex-direction: column;
}

.details .stars{
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
}
.details .starsFilled{
  width: 100%;
  display: inline-block;
  color: #f8ce0b;
  display: flex;
  /* justify-content: space-around; */
  position: absolute;
  top: 0px !important;
  width: 0%;
  overflow: hidden;
}
.details .stars p{
  font-size: 14px !important;
  padding: 0;
  margin: 0;
}
.details .starsFilled p {

  font-size: 14px !important;
  padding: 0;
  margin: 0;
  z-index: 10;
}
.details .reviewsCount {
  font-size: 12px !important;
  padding-top: 7px;
}
.reviews{
  padding-top: 20px;
  padding-left: 0px;
}
.reviews span{
  padding-left: 10px;
}
.reviews .reviewIcon{
  color: #f8ce0b;
  margin-bottom: 8px;
}
.reviews p{
  font-size: 18px !important;
  font-weight: 600;
}
.reviews ul{
 list-style: none;
 padding: 0;
}
.reviews ul li {
  display: flex;
  font-size: 14px !important;
}
.reviews ul .noreview{
  font-size: 14px !important;
  font-weight: normal !important;
}
.reviews .sendIcon{
  margin-top: 15px;
  font-size: 24px !important;
}
.reviews .editIcon{
  margin-top: -5px !important;
  font-size: 10px !important;
}